<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <application
        android:name=".BeatNovaApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_beatnova"
        android:roundIcon="@drawable/ic_beatnova"
        android:theme="@style/Theme.BeatNova"
        android:usesCleartextTraffic="false">
        <meta-data
            android:name="com.adivery.appId"
            android:value="6b50ebd8-e979-4738-b986-a8e90172a8c2" />
        <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="beatnova" android:host="auth" android:pathPrefix="/recovery" />
            </intent-filter>
        </activity>
        <service
            android:name=".BeatNovaDownloadService"
            android:exported="false"
            android:foregroundServiceType="dataSync">
            <intent-filter>
                <action android:name="androidx.media3.exoplayer.downloadService.action.RESTART" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>
</manifest>
